html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Batuhan */


/* Berkan */


/* Evren */


/* Ruken */


/* Ufuk */
.kapsel
{
	display:flex;
	justify-content:space-evenly;
	background-color:#f1f2f6;
	align-items: center;
	padding: 25px;
}
.formedit
{
	background-color: #ff6348;
	background-size: cover;
	margin: 15px;
	padding:35px;
	width: 80%;
	height: 100%;
	border-radius: 10px;
	width: 100%;
}
.formedit input
{
	margin: 10px;
	padding: 10px;
	border-radius: 5px;
	outline: none;
	border: none;
	text-align: center;
	justify-content: center;
	width: 85%
}
#choose
{
	margin: 10px;
	padding: 10px;
	border-radius: 5px;
	outline: none;
	border: none;
	text-align: center;
	width: 90%
}
.btn_one
{
	background-color: black;
	color: white;
	border-radius: 10px ;
	padding: 25px;
	margin: 5px;
	width: 100%;
	cursor: pointer;
}

header .title_text
{
	font-family: sans-serif;
	font-size: x-large;
	color:rgba(0, 148, 50,1.0);
	margin-left: 50px;
    margin-bottom: 15px;
}
.title_text_one
{
	font-family: sans-serif;
	font-size: xx-large;
	margin-left: 50px;
	margin-bottom: 25px;
	
}
.title_text_two 
{
	font-family: sans-serif;
	font-size: xx-large;
	color: #ff6348;
	
}
.txt1 
{
	margin-top: 10px;
	font-family: sans-serif;
	font-weight: bolder;
	color: #57606f;
	margin-bottom: 20px;
	margin-left: 50px;
}
.karte
{
	display:flex;
	flex-wrap: wrap;
	flex-direction: column;
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-weight: bolder;
	margin-left: 50px;
}
.karte .headers
{
	margin-bottom: 10px;
	letter-spacing: 2px;
	
}
.karte .text 
{
	margin-bottom: 20px;
	color: #57606f;
	font-size: medium;
	
}
.kapsel_two
{
	display:flex;
	justify-content:center;
	align-items:center;
	padding: 25px;

}
.about_us 
{
	color: #20bf6b;
	font-family: sans-serif;
	font-size: 2em;
	margin-bottom: 30px;
}
.board 
{
	color: #20bf6b;
	font-family: sans-serif;
	font-size: 4em;
	margin-bottom: 15px;
}
.care 
{
	color: #ff6348;
	font-family: sans-serif;
}
.logogram 
{
	color: black;
}
.text_info
{
	color: #57606f;
	font-family: sans-serif;
	font-weight: 1.5em;
	margin-bottom: 40px;
}
.tabulation
{
 padding-bottom: 15px;
}
.tabulation li 
{
	letter-spacing: 1.5px;
}
.learn_more
{
	width: 20%;
	background-color: #ff6348;
	border: none;
	outline: none;
	font-family: sans-serif;
	font-size: larger ;
    padding: 15px;
	cursor: pointer;
	transition: .6s ease-in;
	border-radius: 6px;
}

.learn_more:hover 
{
	background-color: black;
	opacity: 0.5;
	color: white;
}